
<h1>Sample</h1>

<div style="font-size: 30px; color: orangered">
    <h2>This is my first view!</h2>
    Random additional text


</div>
<span style="background-color: black; font-size: 100px"><i class="fa-solid fa-kiwi-bird"></i></span>
